# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# NOT FOR STUDENTS
/app/data_access/
/app/entities/
/app/db_interactor.py
/app/api.py
compose.yaml